<link rel="stylesheet" href="/assets/css/academicons.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<nav style="list-style: none; margin: 0; padding: 0; width: 85%; justify-content: center;" id="sidebar-icon-links">


  {% if site.github.repo %}
    <a id="github-link"
       class="icon" title="GitHub" aria-label="GitHub"
       href="{{ site.github.repo }}">
      <i class="fab fa-github fa-sm"></i>
    </a>
  {% endif %}
&nbsp;
  {% if site.linkedin %}
    <a id="linkedin-link"
       class="icon" title="LinkedIn" aria-label="Linkedin"
       href="{{ site.linkedin }}">
      <i class="fab fa-linkedin fa-sm"></i>
    </a>
  {% endif %}
&nbsp;
  {% if site.twitter %}
    <a id="twitter-link"
       class="icon" title="Twitter" aria-label="Twitter"
       href="{{ site.twitter }}">
      <i class="fab fa-twitter fa-sm"></i>
    </a>
  {% endif %}

  {% if site.scholar %}
    <a id="scholar-link"
       class="icon" title="Scholar" aria-label="Google Scholar"
       href="{{ site.scholar }}">
      <i class="ai ai-google-scholar ai-sm"></i>
    </a>
  {% endif %}
  
  {% include custom-icon-links.html %}
</nav>
